dist
*.DS_Store
remote-types

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

.venv

data/raw
data/processed
data/GDAL-3.4.3-cp311-cp311-win_amd64.whl