
.pill{
    padding:10px 15px;
    border-radius:20px;
    font-size:0.9em;
    // border: 3px solid #666;
    color:#ddd;
    transition: .3s all ease-in-out;
    -webkit-user-select:none;
    user-select:none;
    cursor: pointer;
    background-color: #333;
    &:hover {
        background-color: #777;
        color: #fff;
        cursor: pointer;
        transition: .3s all ease-in-out;
    }
}

.pill.active {
    // background-color: #007bff;
    // border-color: #007bff;
    &:hover {
        // background-color: #0056b3;
        // border-color: #0056b3;
        color: #fff;
    }
}