$HLcharcoal: rgb(52, 51, 52);
$HLpurple: rgb(166, 126, 198);
$HLpaleGreen: rgb(181, 209, 192);
$HLblue: rgb(129, 176, 192);
$HLred: rgb(208, 46, 111);
$HLyellow: rgb(227, 237, 100);
$HLgrey: rgba(180, 180, 180);
$HLlightGrey: rgba(220, 220, 220);
$borderRadius: 15px;

$mainBGcolor: rgb(30, 30, 30);