.legend{
    position:fixed;
    right:10;
    top:10;
    background-color: #fff;
    padding:10px;
    border-radius:5px;
    width:60px;
    background-color: #111;
    display:flex;
    flex-direction:column;
    gap:0;
    .segment{
        margin:0px;
        vertical-align: top;
        height:15px;
        .color-box{
            width:24px;
            height:15px;
            display:inline-block;
            margin-right:4px;
            margin-top:0px;
            // border:1px solid #ccc;
        }
        .label{
            vertical-align: top;
            color:#fff;
            font-size:0.7em;
            margin-left:4px;
            margin-top:15px;
            height:15px;
            // line-height:0.7;

        }
    }
}