@import './../../../../styles/master.scss';

.legend{
    position:absolute;
    right:500px;
    top:30px;
    padding:15px 5px 20px 15px;
    border-radius:$borderRadius;
    width:85px;
    background-color: $mainBGcolor;
    display:flex;
    flex-direction:column;
    gap:0;
    height:250px;
    .segment{
        margin:0px;
        vertical-align: top;
        height:22px;
        .color-box{
            width:24px;
            height:22px;
            display:inline-block;
            margin-right:4px;
            margin-top:0px;
            // border:1px solid #ccc;
        }
        .label{
            vertical-align: top;
            color:#fff;
            font-size:0.8em;
            font-weight:600;
            margin-left:4px;
            margin-top:15px;
            height:15px;
            // line-height:0.7;

        }
    }
}