@import '../../../../styles/_master.scss';

.metric-selection {
    padding: 20px;
    // // background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0) 100%);
    background-color: $mainBGcolor;
    border-radius: $borderRadius;
    width: 450px;
    height: 120px;
    z-index: 1;
    position: fixed;
    top: 160px;
    right: 30px;

    .select-wrap{
        margin-top:10px;
    }

    // .metrics {
    //     display: flex;
    //     .pill-container {
    //         margin-top: 20px;
    //         h4 {
    //             margin-bottom: 5px;
    //         }
    //         .pill-wrap {
    //             display: flex;
    //             flex-wrap: wrap;
    //             gap: 10px;
    //             margin-bottom: 20px;
    //         }
    //     }
    // }
}
