@import '../../../../styles/master';

.year-selection{
    position:absolute;
    top:30px;
    width:450px;
    right:30px;
    z-index: 1;
    background-color: $mainBGcolor;
    padding:20px 30px;
    line-height:1.3;
    border-radius:$borderRadius;
    overflow-y: auto;

    .slider-wrap{
        width:90%;
        margin:10px auto 20px auto;
    }
}